<div class="max-w-7xl mx-auto container mx-auto p-4">
  <!-- Shop by Category Section -->
  <div class="mb-8">
    <h2 class="text-2xl font-bold mb-4">
      Shop by Category
    </h2>
    <!-- <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 gap-4"> -->
    <section class="categories">
      <!-- <h2>Top Categories</h2> -->
       
      <div class="category-list">
        <div class="category">
          <div class="circle-layer">
            <div class="c1"><img src="../images/MenFormal.png" alt="main"></div>
          </div>
          Men's Formals
        </div>
        <div class="category">
          <div class="circle-layer">
            <div class="c1"> <img src="../images/WomenFormal.png" alt="main"></div>
          </div>Women Formals
        </div>
        <div class="category">
          <div class="circle-layer">
            <div class="c1"> <img src="../images/MenKurta1.png" alt="main"></div>
          </div> Men Kurta
        </div>
        <div class="category">
          <div class="circle-layer">
            <div class="c1"> <img src="../images/saree.png" alt="main"></div>
          </div>Saree
        </div>
        <div class="category">
          <div class="circle-layer">
            <div class="c1"> <img src="../images/Lehenga.png" alt="main"></div>
          </div>Lehenga
        </div>
        <div class="category">
          <div class="circle-layer">
            <div class="c1"> <img src="../images/Blouse.png" alt="main"></div>
          </div>Blouse
        </div>
        <div class="category">
          <div class="circle-layer">
            <div class="c1"> <img src="../images/MenTroussers.png" alt="main"></div>
          </div>Men Trousser
        </div>
        <div class="category">
          <div class="circle-layer">
            <div class="c1"> <img src="../images/WomenWestern.png" alt="main"></div>
          </div>Women Western
        </div>
        <div class="category">
          <div class="circle-layer">
            <div class="c1"> <img src="../images/WomenKurta.png" alt="main"></div>
          </div>women kurta
        </div>
        <div class="category">
          <div class="circle-layer">
            <div class="c1"> <img src="../images/FamousFabric.png" alt="main"></div>
          </div>Famous Fabric
        </div>
        <!-- </div> -->
    </section>
  </div>